<!-- Header -->
<header class="header shop">

  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="/home">CarWay</a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="0#"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here...">

                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <!-- <select>
                <option selected="selected">All Category</option>
                <option>Luxury car</option>
                <option> SUV</option>
                <option>Van</option>
              </select> -->
              <form method="get" action="/search">
                <input name="search" placeholder="Search  Here....." type="search" id="search">
                <!-- <div class="autosearch" id="output"
                  style=" display: none;  background-color: white; overflow: auto; height: 17vh; width: 100%; z-index: 2; position: relative;">

                </div> -->
                <button class="btnn"><i class="ti-search"></i></button>

              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar" style="margin-bottom: 10px;">

              <% if(user) {%>
                <a href="/logout" class="single-icon btn"
                  style="padding-bottom: 3px; height: 40px; color: aliceblue;  font-size: smaller; font-weight: 100; text-align: center; border-radius: 10px;"><i
                    class="ti-power-off"></i>logout</a>
                <% }else{ %>
                  <a href="/login" class="single-icon btn"
                    style="padding-bottom: 3px; height: 40px; color: aliceblue;  font-size: smaller; font-weight: 100; text-align: center; border-radius: 10px;"><i
                      class="ti-power-off"></i>login</a>
                  <% } %>
            </div>


            <!-- <div class="sinlge-bar">
                          <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                         
                      </div> -->

            <% if(user) {%>
              <div class="sinlge-bar">
                <a href="/profile/<%=user._id %>" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
              </div>
              <div class="sinlge-bar shopping">
                <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
                <!-- Shopping Item -->
                <div class="shopping-item">
                  <div class="dropdown-cart-header">
                    <span>2 Items</span>
                    <a href="#">View Cart</a>
                  </div>
                  <ul class="shopping-list">
                    
                    <li>
                      <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                      <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                      <h4><a href="#">Woman Ring</a></h4>
                      <p class="quantity">1x - <span class="amount">$99.00</span></p>
                    </li>
                    <li>
                      <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                      <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                      <h4><a href="#">Woman Necklace</a></h4>
                      <p class="quantity">1x - <span class="amount">$35.00</span></p>
                    </li>
                  </ul>
                  <div class="bottom">
                    <div class="total">
                      <span>Total</span>
                      <span class="total-amount">$134.00</span>
                    </div>
                    <a href="checkout.html" class="btn animate">Checkout</a>
                  </div>
                </div>
                <!--/ End Shopping Item -->
              </div>
              <% } %>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->

  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <!-- <div class="col-lg-3">
                      <div class="all-category">
                          <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
                          <ul class="main-category">
                          
                              <li><a href="#">accessories</a></li>
                              <li><a href="#">top 100 offer</a></li>
                              <li><a href="#">sunglass</a></li>
                          
                          </ul>
                      </div>
                  </div> -->
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="active"><a href="/home">Home</a></li>


                      <li><a href="#">Category<i class="ti-angle-down"></i></span></a>
                        <ul class="dropdown">
                          <li><a href="shop-grid.html">Van</a></li>
                          <li><a href="cart.html">Luxury car</a></li>
                          <li><a href="checkout.html">SUV</a></li>

                        </ul>
                      </li>
                      <li><a href="#">Service</a></li>
                      <!-- <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                  <ul class="dropdown">
                                                      <li><a href="shop-grid.html"></a></li>
                                                      <li><a href="cart.html"></a></li>
                                                      <li><a href="checkout.html"></a></li>
                                                     
                                                  </ul>
                                              </li> -->


                      <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>


<style>
  .autosearch li {


    /* padding: 8px 12px; */
    width: 100%;

  }

  /* .autosearch{
   
  } */

  .autosearch li:hover {
    background: #F7941D;
  }

  .autosearch::-webkit-scrollbar {
    display: none;

  }
</style>

<script>
  // const searchvalue = document.getElementById('search').value

  // document.getElementById('search').addEventListener('input', event => {
  //   const query = event.target.value
  //   const response = fetch(`http://localhost:3000/search?q=${query}`).then(res => res.json()).then((data) => {
  //     console.log(data);
      
    
      // data.result.forEach(result => {
      // console.log(result);
      //   document.getElementById("output").innerHTML += `<li data-id=${result.id}>${result.name}  </li>`
      // });
      // const collection = document.getElementById("output").children
      // collection.id.forEach(element => {
      //   console.log(element);

      // });

      
    // }
    // )


    // if (query.length > 0) {
    //   document.getElementById('output').style.display = 'block'

    //   console.log(query);
    // } else {
    //   document.getElementById('output').style.display = "none"

    // }
  // });




  // const searchinput = document.querySelector("#search");
  // searchinput, addEventListener("input", event => {
  //   const query = event.target.value
  //   const response = fetch(`http://localhost:3000/search?q=${query}`).then(data => data.json({result})).then(data => console.log(data))
  // });
</script>