<section class="shop checkout section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="checkout-form">
            <h2>Make Your Checkout Here</h2>
            <p>Please register in order to checkout more quickly</p>
            <!-- Form -->
            <form class="form" method="post" action="">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Full name<span>*</span></label>
                    <input type="text"  id="fullname" value="" required="required" />
                  </div>
                </div>
  
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Email Address<span>*</span></label>
                    <input type="email"  id="email" value="" required="required" />
                  </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Vehicle Name<span>*</span></label>
                    <input type="text" name="vehiclename" id="vehiclename" value="" required="required" />
                  </div>
                </div> -->
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Phone Number<span>*</span></label>
                    <input type="tel" maxlength="10"  id="number" placeholder="" required="required" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Address <span>*</span></label>
                    <input type="text"  id="address" placeholder="" required="required" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label>Licence Number<span>*</span></label>
                    <input type="text" id="Lice" placeholder="" required="required" />
                  </div>
                </div>
            
  
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                      <h2>TOTALS</h2>
                      <div class="content">
                        <ul>
                          <li>Vehicle Name:<span id="Vname"></span></li>
                          <li>From :<span id="start"></span></li>
                          <li>To :<span id="End"></span></li>
  
                          <li class="last">Total Amount : ₹<span id="totale"> </span></li>
                        </ul>
                      </div>
                    </div>
  
                    <div class="single-widget payement">
                      <div class="content">
                        <img src="/images/payment-method.png" alt="#" />
                      </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                      <div class="content">
                        <div class="button">
                          <a ><button id="checkout"  type="button"   class="btn">proceed to
                              checkout</button></a>
                        </div>
                      </div>
                    </div>
                    <!--/ End Button Widget -->
                  </div>
                </div>
              </div>
          </div>
          </form>
          <!--/ End Form -->
        </div>
      </div>
  
    </div>
    </div>
  </section>