<!-- Spinner Start -->

<!-- Spinner End -->
<div class="d-flex justify-content-center continer position-absolute top-50 start-50 translate-middle">
    <div class="card py-5 px-3">
        <h1 class="m-0  text-center" style="color: #F7941D;">Car Way</h1>
      <h5 class="m-0">Email verification</h5>
      <span class="mobile-text">
        <b> Enter verified email to reset Your Password: </b>
      </span>
      <div class="d-flex mt-3 d">
        <form action="/forgetpassword" method="post">
        <input type="email" class="form-control w-100" name="email" required>   
      </div>
      <button type="submit" class="btn w-50 mt-2">Submit</button>
    </form>
    </div>
    
  </div>