


<%-include('../partials/heder.ejs') %>



<!-- Slider Area -->
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text" style=" border-radius: 10px;  ">
                  <!-- <input
                    type="text"
                    class="w-100"
                    placeholder="Enter location"
                    style="
                      background: transparent;
                      height: 50px;
                      border-color: #f7941d;
                    "
                  /> -->
                  <form action="/cars" method="post">
                    <div style="display: flex; width: 100%;">
                      <!-- <label for="">STARTIN DATE</label> -->
                      <!-- <input type="datetime-local" class="w-50% mt-3" placeholder="select date and time" required name="startDate" style="
                        background: transparent;
                        height: 50px;
                        border-color: #f7941d;
                      " />
                      <P style="margin-top: 30px; margin-left: 10px;"> TO</P>
                      <input type="datetime-local" class="w-50% mt-3 " name="endDate" placeholder="select date and time" required style="
                      background: transparent;
                      height: 50px;
                      border-color: #f7941d;
                      margin-left: 20px;
                    " />
                    </div> -->
                    <button type="submit" class="btn mt-2 w-100"> <a href="/cars">Find Cars</a></button>
                  <!-- </div>
                    <div class="button"> -->
                      
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>

 
</div>
</div>
</div>

<%-include('../partials/footer.ejs') %>