<div class="login">

    <h1 class="text-center">Login</h1>

    <form class="needs-validation" method="post" action="/login">
        <div class="form-group was-validated">
            <label class="form-label" for="email">Email address</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="invalid-feedback">
                Please enter your email address
            </div>
        </div>
        <div class="form-group was-validated">
            <label class="form-label" for="password">Password</label>
            <input class="form-control " type="password" id="password" name="password" required>
          
            <div class="invalid-feedback">
                Please enter your password
            </div>
        </div>
       
        <button  class=" w-100 " style="background-color:#F7941D; border-radius: 10px; border: none; color: aliceblue; height: 40px" type="submit"
            >Login</button>

            <a class=" w-100   fs-6 text-center" href="/signup"  
            >Creat New Account</a>

          
    </form>
    
    <a class=" w-100   fs-6 text-center" style="color:#F7941D;" href="/forgetpassword"  
    >Forgot Pssword?</a>




</div>

<style>
    * {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}

.login {
width: 360px;
height: min-content;
padding: 20px;
border-radius: 12px;
background: #ffffff;
}

.login h1 {
font-size: 36px;
margin-bottom: 25px;
}

.login form {
font-size: 20px;
}

.login form .form-group {
margin-bottom: 12px;
}

.login form input[type="submit"] {
font-size: 20px;
margin-top: 15px;
}
</style>

<% if (error) { %>
  <script>alert("<%= error%>");</script>
<% } %>

