<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <h1>My Orders</h1>
          <thead>
            <tr class="main-hading">
              <th>Email</th>
              <th>Address</th>
              <!-- <th class="text-center"></th> -->
              <!-- <th class="text-center">QUANTITY</th> -->
              <th class="text-center">TOTAL</th>
           
            </tr>
          </thead>
          <tbody>


           
          
   
            <% for(i=0;i<order.length;i++){%>
            <tr id="">
              <td class="price" data-title="Price"><span><%=order[i].cart.vname %></span></td>
              <td class="price" data-title="Price"><span><%=order[i].email %></span></td>
                  <td class="price" data-title="Price"><span><%=order[i].address %></span></td>
                  </a></p>
                <p class="product-des"></p>
              </td>
              <td class="price" data-title="Price"><span>₹<%=order[i].cart.totalPrice %></span></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>