<body class="error-page">
  <div id="global-loader">
    <div class="whirly-loader"></div>
  </div>

  <div class="main-wrapper">
    <div class="error-box">
      <h1>404</h1>
      <h3 class="h2 mb-3">
        <i class="fas fa-exclamation-circle"></i> Oops! Page not found!
      </h3>
      <p class="h4 font-weight-normal">The page you requested was not found.</p>
      <a href="index.html" class="btn btn-primary">Back to Home</a>
    </div>
  </div>

  <style>
    .error-page {
      color: #1f1f1f;
      height: 100vh;
    }
    .error-page .main-wrapper {
      height: auto;
      width: 100%;
    }
    .error-page .main-wrapper .error-box {
      max-width: 480px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 1.875rem 0;
    }
    .error-page .main-wrapper .error-box h1 {
      color: #ff9f43;
      font-size: 10em;
    }
    .error-page .main-wrapper .error-box h3 {
      font-size: 26px;
    }
    .error-page .main-wrapper .error-box p {
      margin-bottom: 25px;
      font-size: 20px;
    }
    .error-page .main-wrapper .error-box .btn {
      border-radius: 50px;
      font-size: 18px;
      font-weight: 600;
      min-width: 200px;
      padding: 10px 20px;
    }
    .error-page .main-wrapper .error-box .btn:hover {
      opacity: 0.8;
    }
  </style>
</body>
