<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">login</h3>
            <form action="/admin/login" method="post">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" id="email" class="form-control p_input" name="email" required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control p_input" name="password" required>
                </div>
              
                <div class="form-group d-flex align-items-center justify-content-between">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Remember me </label>
                  </div>
                  <a href="#" class="forgot-pass">Forgot password</a>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                </div>
                <p class="sign-up text-center">Creat New Account<a href="#">signup</a></p> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.querySelector("form").addEventListener("submit", submit);

  </script>

