

<div class="container" style="
height: 100vh;
width: 113vw;
justify-content: center;
display: flex;
margin-top: 3px;
">
  <div class="d-flex" style="width: 50%; height: 60%; margin-top: 10%; text-align: center;  ">
    <form action="/signup" method="post" class="form-singup container bg-light">
      <h2>Sign Up</h2>

      <div class="form-group mt-4">
        <div class="inputbox mb-4" id="imp">
          <input type="text" placeholder="Enter The Name" name="name" class="w-100" style="height: 50px" id="enterdmail" required />
          <p id="throwerorr1" class="text-danger"></p>
        </div>

        <div class="form-group">
          <div class="inputbox mb-4" id="imp">
            <input type="text" placeholder="UserName" class="w-100" name="username" style="height: 50px" id="enterdmail" required />
            <p id="throwerorr1" class="text-danger"></p>
          </div>
          <div class="inputbox mb-4" id="imp">
            <input type="text" placeholder="Enter the Email" class="w-100" name="email" style="height: 50px" id="enterdmail" required />
            <p id="throwerorr1" class="text-danger"></p>
          </div>
          <div class="inputbox mb-4 password-container " id="imp" >
            <input  placeholder="password" class="w-100" name="password" type="password" style="height: 50px" id="password" pattern="^(?=.*[a-z]).{8,}$" required/>
            <i class="fa-solid fa-eye fa-eye-slash" id="eye"></i>
            <p id="throwerorr1" class="text-danger"></p>
          </div>
          <div class="inputbox mb-3">
            <input type="password" placeholder="Conformpassword " class="w-100" style="height: 50px" id="conformpassword" />
            <p id="throwerorr2" class="text-danger"></p>
            <a href="" style="text-decoration: none; color: black" class="disabled">forget password?</a>
          </div>

          <input type="submit"  value="Sign Up" class="w-100 btn rounded-4" />
          <p class="text-center">Already Have account? <a href="/login" style="text-decoration: none;">login</a></p>

        </div>
      </div>
    </form>
  </div>
</div>

<style>

.password-container{
  
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

</style>

<script>
  const passwordInput = document.getElementById("password");
const eye = document.getElementById("eye");

eye.addEventListener("click", function(){
  this.classList.toggle("fa-eye-slash")
  const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
  passwordInput.setAttribute("type", type)
})
</script>
<script src="/js/main.js"></script>